<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Menage <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="a">Shoping List</a> </li>
      <li><a href="a">Edit recip</a> </li>
      <li><a href="a">Delate recip</a> </li>
    </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Desciption
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingridients
  </div>
</div>
